
*
{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
/* header styles */
.header{
    background-color: rgb(45,94,144);
    color:white;
    padding:31px;
    text-align: center;
    font-weight: 700;
    font-size:20px;
}
/* main section styling */
main{
    margin:28px 138px 30px 138px;


}
main div h1{
    background-color:rgb(45,94,144);
    color:white;
    font-size: large;
    padding:18px;
    letter-spacing: 1px;
    float:left;
    font-family: "Roboto", sans-serif;
    font-weight:700;
    width:100%;
}
main div p{
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight:200;
    padding:17px;
    padding-top: 66px;
    padding-bottom: 10px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 10px;
    text-align: justify;
}

.box
{
    margin:10px;
    margin-bottom: 20px;
    background-color: rgb(246,246,246);
    border:1px solid   rgb(45,94,144);
}
/* section styling */
.section_one
{
float:left;
width:61.55%;
margin-bottom: 90px;

}
.section_two
{
    float:right;
    width:38.33%;
  
}
.section_two div{
    margin-bottom: 27px;
}
/* media query styles */
@media only screen  and (max-width:768px) {
    .section_one,.section_two
    {
      width: 100%;
      padding: 10px;
  
    }
    main 
    {
      margin: 10px;
    }
  }
  @media  screen  and (max-width:992px) {
    main 
    {
      margin: 10px;
    }
  }