@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;500&family=Roboto+Condensed:wght@400;700&family=Roboto+Mono:wght@500&display=swap');
/* general and heading styles */
/* newly updated */
* {
    padding: 0;
    margin: 0;
}

/* styles for header */
.title {
    background-color: rgb(61, 22, 60);
    color: white;
    text-align: center;
    padding: 48px;
    font-size: 45px;
    font-family: 'Roboto Condensed', sans-serif;
}
.header img{
    height:92vh;
}
/* end of styling for header */

/* styles for main section tourist-card-group */
/* div card styles */
.tourist-card-group {
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top:88px;
    margin-left:100px;
    margin-right:100px;
    width: 89%;
    
     
}

.tourist-card {
    display: inline-block;
    width: 30.33333%;
   /* padding-left: 23px ; */
   padding-bottom: 84px;
 

}
/* .tourist-card-group:nth-child(2)
{
    padding-left: 30px;
} */
/* .tourist-card:nth-child(n+2)
{
    padding-left: 30px;
} */
.tourist-card
{
    padding-left: 30px;
}
.tourist-card img {
    width: 100%;
}

.tourist-card h4 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 35px;
    padding-top: 10px;
    width: 90%;
    color:rgb(34,34,34);
    font-weight:300;
}

.tourist-card h5 {
    font-weight: 500;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
}
.tourist-card p {
    font-size: 19px;
    font-weight: 300;
    font-family: 'IBM Plex Sans', sans-serif;
    color: rgb(8, 8, 8);
}


/* button styles */
.tourist-card .button {
    background-color: rgb(112, 32, 83);
    color: white;
    padding: 3% 6%;
    font-weight: 300;
    border: none;
    margin-top: 20px;
    font-size: 18px;
}




/* paragraph styles */

.content {
    margin-top: 18px;
    text-align: center;
}
.content h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 66px;
    font-weight: 300;
    padding-top: 10px;
    color: rgb(121, 21, 85);
}

.content p {
    font-size: 29px;
    text-align: justify;
    font-weight: 300;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 1% 12%;
    padding-top: 3%;
    color: rgb(37, 37, 37);
    line-height: 1.5;
}
/* footer styles */
footer {
    background-color: rgb(112, 32, 83);
    color: white;
    margin-top: 83px;
    padding:29px ;
 
}
footer h3 {
padding-left: 87px;
    font-weight: 800;
    font-size: 22px;
    font-family: 'IBM Plex Sans', sans-serif;
}

footer p {
    padding-top: 2px;
    padding-left: 87px;
    font-family: 'IBM Plex Sans', sans-serif;

}
